<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3> y mi mail es [[email]]</h3>
    <button class="btn btn-link"><a href="/user/{{id}}/accounts">
    ver mis cuentas</a></button>
   <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/usuario/{{id}}/accounts"
      handle-as="json"
      on-response="showData"
  >
  <!--  <div class="row">
      <h1 class="col-md-3">Linea 1 </h1>
      <h1 class="col-md-5">Linea 2 </h1>
    </div> -->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts : {
            type: array
          }, balance: {
            type : Number
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]); /** para mostrar mensajes de logs */

        //this.iban = data.detail.response[0].IBAN; /**Lo que devuelve la BBDD a la API, en el JSON el postman se muestra "IBAN"*/
      //  this.balance = data.detail.response[0].balance; /** resonse[0] porque devuelve un array*/
        this.accounts=data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
