<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <h2> SOY EL EMISOR</h2>
      <button on-click="sendEvent">No pulsar</button>
      </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
              };
      }

    sendEvent(e){
        console.log('pulsado el boton');
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course" : "Techu",
                "year" : 2018
              }
            }
          )
        );
      }

    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
