<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3> y mi mail es [[email]]</h3>
    <button class="btn btn-link"><a href="/user/{{id}}/accounts"> ver mis cuentas</a></button>
   <iron-ajax auto="true"
      id="getUser"
      url="http://localhost:3000/apitechu/v2/usuario/{{id}}"
      handle-as="json"
      on-response="showData"
  >
  <!--  <div class="row">
      <h1 class="col-md-3">Linea 1 </h1>
      <h1 class="col-md-5">Linea 2 </h1>
    </div> -->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name : {
            type: String
          }, email : {
            type : String
          }, id: {
            type: Number
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response); /** para mostrar mensajes de logs */

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
